:root {
  --text: #141414;
  --primary: #059669;
  --primary-hover: #047857;
  --error: #DC2626;
  --border: #CBD5e1;
  --disabled: #E2E8F0;
  --padding: 0.5rem 0.625rem;
  --border-radius: 2px;
}

::selection {
  background: #10B981;
  color: #FFF;
}

body {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

button {
  border: none;
  font-size: 0.875rem;
  padding: var(--padding);
  background-color: var(--primary);
  color: #FFF;
  font-weight: 700;
  width: 7.5rem;
  height: 2.25rem;
  border-radius: var(--border-radius);
}

input {
  padding: var(--padding);
  flex: 1;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

button:disabled,
input:disabled {
  background-color: var(--disabled);
  cursor: default;
}

button:disabled svg {
  fill: #64748B;
}

.text-logo {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
}

.product-container {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

.product-container:nth-child(2n) {
  background-color: var(--disabled);
}

.product-store-name {
  font-size: 1rem;
  font-weight: 600;
}

.product-url {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text);
}

.product-url:hover {
  text-decoration: underline;
  color: var(--primary) !important;
}

.product-url:visited {
  color: var(--text);
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 600;
}

.error-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
}

.error {
  font-size: 1rem;
  font-weight: 700;
}

.error-submessage {
  font-size: 0.875rem;
}

.price-high,
.error {
  color: var(--error);
}

.price-low {
  color: var(--primary);
}

.fetched {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  overflow-y: auto;
}

.h-line {
  width: 99%;
  border: 1px solid var(--border);
}

#searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
}

.spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}

.spinner circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}

@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
