:root {
  --text: #171717;
  --background: #f5f5f0;
  --primary: #059669;
  --primary-hover: #047857;
  --gray-light: #9ca3af;
  --gray-dark: #6b7280;
  --error: #dc2626;
  --disabled: #e2e8f0;
  --padding: 0.5rem 0.625rem;
  --border-radius: 6px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.625rem;
  color: var(--text);
}

button {
  border: none;
  font-size: 0.875rem;
  padding: var(--padding);
  background-color: var(--primary);
  color: var(--background);
  font-weight: 700;
  width: 7.5rem;
  height: 2.25rem;
  border-radius: var(--border-radius);
}

input {
  flex: 1;
  padding: var(--padding);
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--gray-light);
  border-radius: var(--border-radius);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

button:disabled,
input:disabled {
  background-color: var(--gray-light);
  cursor: default;
}

button:disabled svg {
  fill: var(--gray-light);
}

.text-logo {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.input-container {
  display: none;
  gap: 0.625rem;
  justify-content: space-between;
}

.caret:nth-child(2) {
  display: none;
}

.product-container {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.product-store-name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-dark);
}

.product-url {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text);
}

.product-url:hover {
  text-decoration: underline;
  color: var(--primary) !important;
}

.search-url {
  font-size: 0.875rem;
  color: var(--text);
  text-decoration: none;
}

.search-url:hover {
  text-decoration: underline;
}

.product-url:visited,
.search-url:visited {
  color: var(--text);
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 600;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.error {
  font-size: 1rem;
  font-weight: 700;
}

.error-submessage {
  font-size: 0.875rem;
}

.price-high,
.error {
  color: var(--error);
}

.price-low {
  color: var(--primary);
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.h-line {
  width: 99%;
  border: 1px solid var(--gray-light);
  margin: 0px;
}

#searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
}

.spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}

.spinner circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}

@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab button {
  background-color: var(--background);
  color: var(--text);
  font-weight: 500;
  border-bottom: 2px solid var(--gray-light);
  float: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  height: 32px;
  transition-duration: 0ms;
  border-radius: 0px;
}

.tab button:disabled {
  color: var(--gray-light);
}

.tab button:hover {
  border-bottom: 2px solid var(--gray-dark);
}

.tab button:hover:disabled {
  border-bottom: 2px solid var(--gray-light);
}

.tab button.active {
  font-weight: 700;
  border-bottom: 2px solid var(--primary);
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tab-content > h2 {
  font-weight: 700;
  font-size: 1.25rem;
}

#searchedContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  margin-left: auto;
  border: none;
  font-size: 0.875rem;
  padding: 0px;
  background-color: transparent;
  color: var(--text);
  font-weight: 500;
  width: fit-content;
  height: auto;
  border-radius: 0px;
  border-bottom: 1px solid transparent;
}

#editButton:hover {
  border-bottom: 1px solid var(--text);
}

ul {
  list-style: disc;
  padding-left: 2rem;
}

.about-store-name {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.about-store-name:hover {
  text-decoration: underline;
}

.about-bottom-text {
  font-size: 0.875rem;
}
